@import "./_normalize.css";
@import "./_mixins.css";
@import "./_variables.css";
@import "./_flexslider.css";
@import "./_mobilemenu.css";

@lost flexbox flex;

html,
body{
	font-size: 16px;
  background-color: var(--body-gray);
  font-family: "Roboto Condensed";
}

figure{
  margin:0;
  padding: 0;
}
.showOnMobile{
	@media (--tablet){
		display: none;
	}
}
.container{
	@media (--tablet){
		lost-center:1200px;
	}
	&__full{
		lost-column:1/1;
	}
	&--noflex{
		@media (--tablet){
			lost-center:1200px no-flex;

		}
	}
}

.header{
  padding: 1rem;
	@media (--tablet){
		lost-center:1200px;
	}
  &__logo{
    position:relative;
		margin-bottom: 1.5rem;
		@media (--tablet){
			lost-column:1/2;
		}
    &-caption{
      position: absolute;
      font-size: 14px;
      left:165px;
      top:40px;
      line-height:1.5;
    }
  }/* END LOGO */

	&__info{
		@media (--tablet){
			lost-column:1/2;
		}
		@media (--desktop){
			text-align: right;
			position:relative;
			box-sizing:border-box;
			padding-top: 3rem;
		}
		&-callbox{
			background-color:var(--light-gray);
			border-radius:5px;
			padding: .5rem 1rem;
			text-align: center;
			margin-bottom: 1rem;
			@media (--desktop){
				display: inline-block;
				vertical-align:top;
			}
			p{
				margin:0;
				text-transform: uppercase;
				color: var(--main-red);
				font-weight: 700;
			}
			a{
				color:var(--text-color);
				text-decoration: none;
				font-size: 1.4rem;
				display: inline-block;
				&::before{
					content:"\f098";
					font-family: fontawesome;
					color:var(--main-red);
					padding-right: 5px;
				}
			}
		}

		&-searchbox{
			padding: .5rem 1rem;
			@media (--desktop){
				display: inline-block;
				vertical-align:top;
				padding-right: 0;
			}
			form{
				position:relative;
			}
			input[type="text"]{
				width: 100%;
				display: inline-block;
				padding: .5rem 55px .5rem 1rem;
				box-sizing:border-box;
				border-radius:5px 0 0 5px;
				height:46px;
				position:relative;
				border:1px solid var(--light-gray);
			}
			button{
				background-color: var(--main-red);
				border:0;
				color:white;
				border-radius: 0 5px 5px 0;
				display: inline-block;
				padding-left: 1rem;
				padding-right: 1rem;
				font-size:18px;
				height: 46px;
				position:absolute;
				top:0px;
				right:0px;
				z-index: 99;
				border:1px solid var(--light-gray);
			}

		}

	}/* END INFO */
}/* END HEADER */

#mobileNav{
	z-index: 99999;

}
#catNav{
	background-color: var(--main-red);
	color:white;
	.mm-navbar a{
		color:white;
		text-transform: uppercase;
	}
	.mm-next:after,
	.mm-close:after,
	.mm-close:before{
		border-color:white;
	}
}
.categoriesNavigation{
	&__btn{
		@mixin buttonred "\f0da";
	}
}
.mobile{
	&__btn{
		@mixin buttonred;
	}
}
.navigation{
	display: none;
	@media (--tablet){
		display: block;
	}
	ul{
		list-style:none;
		lost-flex-container:row;
		padding: 0;
		margin: 0px;
		width: 100%;
		background-color:var(--main-red);
		border-radius:5px 5px 0 0;
		/*border:1px solid var(--strong-red);*/
		box-sizing: border-box;
		position:relative;
		&:not(.submenu){
			> li{
				&:first-child{
					a{
						&:before{
							content:"\f015";
							font-family: "fontawesome";
							padding-right: 2px;
							font-weight: 300;
						}
					}
				}
			}
		}

	}

	li{
		lost-column: 1/7 0 0;
		text-align: center;
		border-right:2px solid var(--strong-red);
		box-sizing:border-box;
		&:last-child{
			border-right:0px;
		}
		&:first-child a{
			border-radius:5px 0 0 0;
		}
		&:last-child a{
			border-radius:0 5px 0 0;
		}
		&[class*="current"]{
			background-color:var(--strong-red);
			> a:after{
				content: "\f103";
				font-family:"fontawesome";
				color:white;
				padding-left: 4px;
			}

			.submenu{
				lost-flex-container: row;
			}

		}

		&:hover{
			.submenu{
				lost-flex-container: row;
			}

		}

	}
	a{
		display: block;
		color:white;
		text-decoration: none;
		text-transform: uppercase;
		font-size:18px;
		padding: 1rem .5rem;
		font-weight:700;
		&:hover{
			background-color: var(--strong-red);
		}
	}
	.submenu{
		position: absolute;
		top:100%;
		width: 100%;
		left: 0px;
		background-color: var(--strong-red);
		border:1px solid var(--strong-red);
		border-radius:0;
		padding:1rem .5rem;
		flex-wrap: wrap;
		display: none;
		box-sizing: border-box;
		z-index: 9999;
		li{
			lost-column:1/5 0 0;
			width: (100/5)%;
			border:0;
			a{
				padding-top:.6rem;
				padding-bottom:.6rem;
			}
			&[class*="current"]{
				a{
					background-color:var(--main-red);
					border-radius:5px;
					&:after{
						content:"";
					}

				}
			}
		}
		a{
			font-size:14px;
			font-weight:300;
			text-transform:capitalize;
			&:before{
				content:"\f101";
				font-family:"fontawesome";
				padding-right: 1px;
			}

			&:hover{
				background-color:var(--main-red);
				border-radius:5px;
			}
		}
	}
}

/* MAIN SLIDER */
.main__slider{
	position: relative;
	&-flex-caption{
		background-color: #262626;
		max-width:480px;
		top:25%;
		z-index: 99999999;
		box-sizing: border-box;
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-right: 1rem;
		padding-left: 1rem;
		border-radius: 0 20px 20px 0;
		@media (--tablet){
			top:17%;
			padding-left: 3rem;
			position: absolute;
		}
		@media (--desktop){
			top:25%;
			padding-left: 5rem;
		}
		h2{
			margin:0;
			color: var(--main-red);
			font-size: responsive 24px 38px;
			text-transform: uppercase;
			font-weight: 700;
		}
		p{
			margin:0;
			color: white;
			font-weight: 300;
			font-size: responsive 26px 38px;

		}
	}
}
/* MAIN SLIDER END */

/* PRODUCTS */
.products{
	background-color: white;
	padding: 1.5rem 1.2rem;
	box-sizing: border-box;
	&__wrapper{
		height:800px;
	}
	&__categories{
		background-color: var(--main-red);
		border-radius: 10px;
		overflow: hidden;
		display: none;
		@media (--tablet){
			display: block;
			lost-column:1/4 no-flex;
		}
		&-nav{
			background-color: var(--main-red);
			border-radius: 10px;
			overflow: hidden;
			color:white;
			.mm-navbar{
				padding: .5rem 1rem;
				background-color: var(--strong-red);
				a{
					text-transform: uppercase;
					color:white;

					margin:0;
					text-align:center;
					display: block;
				}

			}
		}
		&-title,
		h3{
			text-transform: uppercase;
			color:white;
			background-color: var(--strong-red);
			margin:0;
			padding: 1.3rem 1rem;
			text-align:center;
		}
		.submenu{
			margin-top:0 !important;
		}
		&-list{
			list-style: none;
			margin-top:0 !important;
			padding: 0;

			li{
				border-bottom: 1px solid var(--strong-red);
			}
			a{
				color:white;
				display: block;
				text-decoration: none;
				padding: .7rem 1.2rem;
				font-size: 14px;
				font-weight: 300;
				&:before{
					content:"\f101";
					font-family:"fontawesome";
					padding-right: 4px;
				}
				&:hover,
				&[class*="live"]{
					background-color: var(--strong-red);
				}
			}
		}
		ul{
			list-style: none;
		}
	}

	&__grid{
		flex-wrap: wrap;
		lost-flex-container:row;
		@media (--tablet){
			lost-column:3/4  no-flex;
		}

	}

	&__item{
		border-radius: 10px;
		overflow: hidden;
		background-color: #f4f4f4;
		border: 1px solid var(--body-gray);
		box-sizing: border-box;
		margin-bottom: 1.2rem;
		lost-column:1/1;
		@media (--tablet){
			lost-column:1/2;
		}
		@media (--desktop){
			lost-column:1/3;
		}

		&-img{
			width: 100%;
			max-height: 200px;
		}
		&-content{
			padding: .8rem 1.5rem;
			p{
				font-size: 28px;
				color: var(--main-red);
				font-weight: 700;
				margin: .7rem 0;
			}
			span{
				font-size: 14px;
				color: #333;
				font-weight: 400;
				display: block;
				padding-bottom: .5rem;;
			}
		}
		&-title{
			font-size: 20px;
			font-weight: 700;
			margin:0;
		}
		&-btn{
			border-radius: 10px;
			background-color: var(--main-red);
			color:white;
			text-transform: uppercase;
			border-bottom: 2px solid var(--strong-red);
			display: block;
			width: 140px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			text-decoration: none;
			padding-top: .8rem;
			padding-bottom: .8rem;
			font-size: 20px;
			font-weight: 700;
			&:hover{
				background-color: var(--strong-red);
				border-bottom: 2px solid var(--main-red);
			}
		}
	}

}
/* PRODUCTS END */


/* FOOTER */
.footer{
	margin-bottom: 5rem;
	.container{
		flex-wrap: wrap;
		background-color: var(--text-color);
		color:white;
		padding-top: 3rem;
		box-sizing: border-box;
		border-radius: 0 0 10px 10px;
	}
	&__company-info{
		ul{
			display: block;
			&:first-of-type{
				i{
					padding-right: 4px;
					color: var(--main-red);
				}

			}

		}
	}
	&__logo{
		text-align: center;
	}
	&__copy{
		border-top: 1px solid white;
		margin-top: 2.5rem;
		text-align: right;
		font-weight: 300;
		font-size: 14px;
		padding-left: 1rem;
		padding-right: 1rem;
		box-sizing: border-box;
	}
	.column{
		lost-column:1/1;
		border-right: 1px solid white;
		box-sizing: border-box;
		padding-left: 1rem;
		padding-right: 1rem;
		&:nth-child(4){
			border-right:0;
		}
		@media (--tablet){
			lost-column:1/2;
		}
		@media (--desktop){
			lost-column:1/4;
		}
		h4{
			text-transform: uppercase;
			font-size: 22px;
			font-weight: 700;
			letter-spacing: 1px;
			margin: 0 0 1.5rem 0;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li{
			margin-bottom: 12px;
		}
		a{
			text-decoration: none;
			color:white;
			&:hover{
				color: var(--main-red);
			}
		}
	}
	&__social{
		lost-utility: clearfix;
		margin-top: 20px !important;
		li{
			display: inline-block;
			vertical-align:top;
			margin-right: 10px;
			&:last-child{
				margin: 0;
			}
		}
		a{
			display:block;
			background-color: var(--main-red);
			width: 30px;
			height:30px;
			line-height: 30px;
			text-align:center;
			border-radius:50%;
			color: rgba(255,255,255,.8) !important;
			&:hover{
				background-color: var(--strong-red);
				color: rgba(255,255,255,1) !important;
			}

		}
	}

}
/* FOOTER END */
